.service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service input, textarea{
    width: 50%;
    margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
    .service input, textarea{
        width: 80%;
        margin-bottom: 10px;
    }
}